/* For Firefox */
html {
  scrollbar-color: #a5a5a5 #cfcfcf; /* thumb color, track color */
  scrollbar-width: thin; /* or 'auto' for the standard width */
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #cfcfcf;
}

::-webkit-scrollbar-thumb {
  background: #a5a5a5;
}

* {
  text-decoration: none;
}
